<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%= title_ja %> <%= title_en %></title>
<!--
    gmailはstyle要素とlink要素を無効にするので全タグにstyle属性を付けるしかない
    https://www.campaignmonitor.com/css/    
-->
</head>
<body>

<div style="background-color:#fff;height:80px;text-align:center;">
    <img src="cid:logo" alt="CHEVRE_EVENT_NAME" >
</div>

<%
let paymentTerm = moment(reservations[0].get('purchased_at')).add(2, 'days');
//let paymentTerm = moment(`${term.substr(0, 4)}-${term.substr(4, 2)}-${term.substr(6, 2)}T${term.substr(8, 2)}:${term.substr(10, 2)}:${term.substr(12)}+09:00`);
%>
<div style="padding:0 30px;font-family:'游ゴシック',meiryo,sans-serif;">
    <h1 style="margin:0;font-size:20px;text-align:center;"><%= title_ja %></h1>
    <h2 style="margin:0;font-size:16px;text-align:center;"><%= title_en %></h2>

    <p style="font-weight:bold;"><%= reservations[0].get('purchaser_name_ja') %> 様</p>
    <p style="font-weight:bold;font-size:12px;">Dear <%= reservations[0].get('purchaser_name_en') %>,</p>

    <p style="font-size:14px;">
        この度はCHEVRE_EVENT_NAMEチケットサイトをご利用いただき誠にありがとうございます。<br>
        下記の内容にて仮予約を承りました。<br>
        ご確認の上、お支払期限までにお近くのファミリーマートにて購入された日を含む3日以内（<%- paymentTerm.format('M月DD日') %>まで）にお支払い下さい。
    </p>
    <p style="font-size:12px;">
        Thank you very much for using the Tokyo International Film Festival ticketing website.<br>
        We have accepted your tentative reservation as stated below.<br>
        Please check the details and make a payment at your nearest FamilyMart store within 3 days including the date of your reservation(by <%- paymentTerm.format('MMMM D') %>).
    </p>


    <hr style="margin:1em 0;">


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">ご指定のコンビニエンスストア (Selected convenience store) :</h3>
        <strong>ファミリーマート</strong><br>
        <span style="font-size:14px;">Family Mart</span>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">お支払い期限 (Date due) :</h3>
        <strong><%- paymentTerm.format('YYYY/MM/DD') %> 23:59:59</strong><br>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">作品名 (Title) :</h3>
        <strong><%- reservations[0].get('film_name_ja') %></strong><br>
        <span style="font-size:12px;"><%- reservations[0].get('film_name_en') %></span>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">購入番号 (Transaction number) :</h3>
        <strong><%- reservations[0].get('payment_no') %></strong>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">劇場 (Location) :</h3>
        <strong><%- reservations[0].get('location_str_ja') %></strong><br>
        <%- reservations[0].get('theater_address_ja') %><br>
        <p style="font-size:12px;">
            <%- reservations[0].get('theater_name_en') %> <%- reservations[0].get('screen_name_en') %><br>
            <%- reservations[0].get('theater_address_en') %>
        </p>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">時間 (Date and time) :</h3>
        <strong><%- reservations[0].get('performance_start_str_ja') %></strong><br>
        <span style="font-size:12px;"><%- reservations[0].get('performance_start_str_en') %></span>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">券種 (Type of ticket) :</h3>

        <% reservations.forEach((reservation, index) => { %>
        <%- (index > 0) ? '<br>' : '' %>
        <strong><%- reservation.get('ticket_type_detail_str_ja').replace(/\\/g, '&yen;') %>
        <% }) %>

        <p style="font-size:12px;">
            <% reservations.forEach((reservation, index) => { %>
            <%- (index > 0) ? '<br>' : '' %>
            <%- reservation.get('ticket_type_detail_str_en').replace(/\\/g, '&yen;') %>
            <% }) %>
        </p>

    </div>

    <!-- コンビニ決済完了の場合 -->
    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">コンビニ決済手数料 (Handling charge) :</h3>
        <strong>&yen;<%- ReservationUtil.CHARGE_CVS %> x <%- reservations.length %></strong>
    </div>
    <!-- /コンビニ決済完了の場合 -->

    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">購入枚数 (Number of tickets purchased) :</h3>
        <strong><%- reservations.length %>枚</strong>
        <span style="font-size:12px;"><%- reservations.length %> ticket(s)</span>
    </div>


    <%
    let totalCharge = 0;
    reservations.forEach((reservation) => {
        totalCharge += reservation.get('charge');
    });
    %>
    <% if (totalCharge > 0) { %>
    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">合計金額 (total) :</h3>
        <strong>&yen;<%- numeral(totalCharge).format('0,0') %></strong>
        <span style="font-size:12px;"><%- numeral(totalCharge).format('0,0') %> yen (including tax)</span>
    </div>
    <% } %>


    <p style="font-size:12px;">
        ※学生（小学生は除く）の方は、劇場へのご入場の際に、必ず学生証または生徒手帳のご提示をお願いします。<br>
        ※交通渋滞による来場遅延、その他いかなる場合でも、ご購入後のチケットの変更およびキャンセル・払い戻しはいたしません。<br>
        なお不可抗力により表記公演の興行を中止する場合の払い戻しは、所定の期間内に所定の方法にて行います。<br>
        *Students (excluding elementary school students) are asked to show their student ID card or student handbook before entering the cinema.<br>
        *Once tickets are purchased, they cannot be changed, canceled or refunded under any circumstance, including delayed arrival due to traffic congestion. If the event is canceled due to any unforeseen causes, tickets will be refunded by the prescribed methods during the prescribed period of time.
    </p>


    <hr>

    <h1 style="margin:0;font-size:20px;text-align:center;">Fami ポートでのお支払い方法</h1>
    <h2 style="margin:0;font-size:16px;text-align:center;">How to make a payment via FamiPort:</h2>


    <p>
        <span style="color:red;font-weight:bold;">お支払いの際、お客様番号と確認番号もしくはが必要です。<br>
        メモを取るか、このメールを印刷して、コンビニエンスストアまでお持ちください。</span><br>
        <span style="font-size:12px;">
            The 5-digit confirmation number and the 12-digit reception number are required for payment.<br>
            Please make a note of this information or print this email and bring it to the convenience store.
        </span>
    </p>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">お客様番号 (Reception number) :</h3>
        <strong><%- reservations[0].get('gmo_cvs_conf_no') %></strong>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">確認番号 (Confirmation number) :</h3>
        <strong><%- reservations[0].get('gmo_cvs_receipt_no') %></strong>
    </div>


    <p>1．トップメニューより「代金支払い（コンビニでお支払い）」を選択してください。<br>
        <span style="font-size:12px;">
            Select "Payment at the convenience store" under Method of Payment on the Top page.
        </span>
    </p>


    <p>2．「代金お支払い」のページで「各種番号をお持ちの方はこちら」を選択してください。<br>
        <span style="font-size:12px;">
            Click on the "If You Have Numbers" button on the payment page.
        </span>
    </p>


    <p>3．お客様番号 を入力し、「OK」を選択してください。<br>
        <span style="font-size:12px;">
            Enter your customer number and click "OK".
        </span>
    </p>


    <p>4．確認番号 を入力し、「OK」を選択してください。<br>
        <span style="font-size:12px;">
            Enter your confirmation number and click "OK".
        </span>
    </p>


    <p>5．お支払い内容を確認のうえ、「確認」を選択してください。<br>
        <span style="font-size:12px;">
            Check the payment details and click "Confirm".
        </span>
    </p>


    <p>6．印刷された申込券をレジに渡し、30分以内に現金でお支払いください。<br>
        <span style="font-size:12px;">
            Give the printed application form to the cashier and pay with cash within 30 minutes.
        </span>
    </p>


    <p>
        7．お支払い後、「取扱明細兼受領書」を必ずお受け取りください。 ※「取扱明細兼受領書」が領収書となります。<br>
        <span style="font-size:12px;">
            Be sure to retain your transaction statement/receipt after making the payment.<br>
            *The transaction statement/receipt serves as your receipt.
        </span>
    </p>


    <hr>


    <strong style="font-size:14px;">CHEVRE_EVENT_NAME  CHEVRE 2016</strong>
    <p style="font-size:14px;">
        本メールアドレスは送信専用です。返信はできませんのであらかじめご了承ください。<br>
        本メールに心当たりのない方やチケットに関してご不明な点は、下記電話番号までお問い合わせください。<br>
        チケットのお問合せ：050-3786-0368　/12:00～18:00（休業：土/日/祝日　CHEVRE_EVENT_NAME開催期間中は無休）<br>
        オフィシャルサイト： <a href="<%= conf.get('official_website_url') %>" target="_blank" style="color:#000;"><%= conf.get('official_website_url') %></a>
    </p>
    <p style="font-size:10px;">
        This email was sent from a send-only address. Please do not reply to this message.<br>
        If you are not the intended recipient of this email or have any questions about tickets, Please contact us at the telephone number below.
        For inquiries about tickets: 050-3786-0368/12:00 p.m. to 6:00 p.m. (Closed on Saturdays, Sundays, and national holidays, except during CHEVRE)
        Official website: <a href="<%= conf.get('official_website_url') %>" target="_blank" style="color:#000;"><%= conf.get('official_website_url') %></a>
    </p>

</div>




</body>
</html>