<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[QRコード付き]<%= title_ja %> [QR CODE TICKET]<%= title_en %></title>
<!--
    gmailはstyle要素とlink要素を無効にするので全タグにstyle属性を付けるしかない
    https://www.campaignmonitor.com/css/
-->
</head>
<body>

<div style="background-color:#fff;height:80px;text-align:center;">
    <img src="cid:logo" alt="CHEVRE_EVENT_NAME" >
</div>


<div style="padding:0 30px;font-family:'游ゴシック',meiryo,sans-serif;">
    <h1 style="margin:0;font-size:20px;text-align:center;"><%= title_ja %></h1>
    <h2 style="margin:0;font-size:16px;text-align:center;"><%= title_en %></h2>

    <p style="font-weight:bold;"><%= reservations[0].get('purchaser_name_ja') %> 様</p>
    <p style="font-weight:bold;font-size:12px;">Dear <%= reservations[0].get('purchaser_name_en') %>,</p>

    <p style="font-size:14px;">
        この度はご購入いただき誠にありがとうございます。<br>
        ご入場の際に本メールのQRコードが必要となりますので、ご鑑賞当日は必ずお持ちください。<br>
        QRコードは画像保存もしくは印刷していただくと便利です。<br>
        尚、お取り扱いには十分ご注意ください。<br>
        <% if (reservations[0].get('purchaser_group') === ReservationUtil.PURCHASER_GROUP_SPONSOR) { %>
        キャンセルを行う場合は<br>
        <%= process.env.FRONTEND_ENDPOINT %>/sponsor/cancel<br>
        よりキャンセルを行ってください。<br>
        <% } %>
        ＊本メールはご鑑賞後まで、大切に保管してください。
    </p>
    <p style="font-size:12px;">
        Thank you very much for your purchase.<br>
        Please be sure to bring the QR code attached to the email with you when attending your screening as it is required for admission. <br>
        It is recommended to save the QR code as image data or to print it for your convenience. Please handle carefully.<br>
        <% if (reservations[0].get('purchaser_group') === ReservationUtil.PURCHASER_GROUP_SPONSOR) { %>
        If you want to cancel the reservation, please go to the following page.<br>
        <%= process.env.FRONTEND_ENDPOINT %>/sponsor/cancel<br>
        <% } %>
        *Please keep this email until your screening is finished.
    </p>


    <hr style="margin:1em 0;">


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">作品名 (Title) :</h3>
        <strong><%- reservations[0].get('film_name_ja') %></strong><br>
        <span style="font-size:12px;"><%- reservations[0].get('film_name_en') %></span>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">購入番号 (Transaction number) :</h3>
        <strong><%- reservations[0].get('payment_no') %></strong>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">劇場 (Location) :</h3>
        <strong><%- reservations[0].get('location_str_ja') %></strong><br>
        <%- reservations[0].get('theater_address_ja') %><br>
        <p style="font-size:12px;">
            <%- reservations[0].get('theater_name_en') %> <%- reservations[0].get('screen_name_en') %><br>
            <%- reservations[0].get('theater_address_en') %>
        </p>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">時間 (Date and time) :</h3>
        <strong><%- reservations[0].get('performance_start_str_ja') %></strong><br>
        <span style="font-size:12px;"><%- reservations[0].get('performance_start_str_en') %></span>
    </div>


    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">券種 (Type of ticket) :</h3>

        <% reservations.forEach((reservation, index) => { %>
        <%- (index > 0) ? '<br>' : '' %>
        <strong><%- reservation.get('ticket_type_detail_str_ja').replace(/\\/g, '&yen;') %>
        <% }) %>

        <p style="font-size:12px;">
            <% reservations.forEach((reservation, index) => { %>
            <%- (index > 0) ? '<br>' : '' %>
            <%- reservation.get('ticket_type_detail_str_en').replace(/\\/g, '&yen;') %>
            <% }) %>
        </p>

    </div>

    <% if (reservations[0].get('payment_method') === GMOUtil.PAY_TYPE_CVS) { %>
    <!-- 「コンビニ決済完了」の場合 -->
    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">コンビニ決済手数料 (Handling charge) :</h3>
        <strong>&yen;<%- ReservationUtil.CHARGE_CVS %> x <%- reservations.length %></strong>
    </div>
    <!-- /「コンビニ決済完了」の場合 -->
    <% } %>

    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">購入枚数 (Number of tickets purchased) :</h3>
        <strong><%- reservations.length %>枚</strong>
        <span style="font-size:12px;"><%- reservations.length %> ticket(s)</span>
    </div>


    <%
    let totalCharge = 0;
    reservations.forEach((reservation) => {
        totalCharge += reservation.get('charge');
    });
    %>
    <% if (totalCharge > 0) { %>
    <div style="margin-bottom:1em;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">合計金額 (Total) :</h3>
        <strong>&yen;<%- numeral(totalCharge).format('0,0') %>(税込)</strong>
        <span style="font-size:12px;"><%- numeral(totalCharge).format('0,0') %> yen (including tax)</span>
    </div>
    <% } %>


    <div style="margin-bottom:1em;page-break-inside:avoid;">
        <h3 style="font-weight:normal;font-size:14px;margin:0;">QRコード (QR-code) :</h3>

        <% reservations.forEach((reservation) => { %>
        <p>
            <strong><%- reservation.get('seat_code') %></strong><br>
            <img src="cid:qrcode_<%- reservation.get('_id').toString() %>" alt="<%- reservation.get('seat_code') %>">
        </p>
        <% }) %>
    </div>


    <p style="font-size:12px;">
        ※学生（小学生は除く）の方は、劇場へのご入場の際に、必ず学生証または生徒手帳のご提示をお願いします。<br>
        <% if (reservations[0].get('purchaser_group') === ReservationUtil.PURCHASER_GROUP_SPONSOR
            || reservations[0].get('purchaser_group') === ReservationUtil.PURCHASER_GROUP_STAFF) { %>
        ※なお不可抗力により表記公演の興行を中止する場合の払い戻しは、所定の期間内に所定の方法にて行います。<br>
        <% } else { %>
        ※交通渋滞による来場遅延、その他いかなる場合でも、ご購入後のチケットの変更およびキャンセル・払い戻しはいたしません。なお不可抗力により表記公演の興行を中止する場合の払い戻しは、所定の期間内に所定の方法にて行います。<br>
        <% } %>
        *Students (excluding elementary school students) are asked to show their student ID card or student handbook before entering the cinema.<br>
        <% if (reservations[0].get('purchaser_group') === ReservationUtil.PURCHASER_GROUP_SPONSOR
            || reservations[0].get('purchaser_group') === ReservationUtil.PURCHASER_GROUP_STAFF) { %>
        *If the event is canceled due to any unforeseen causes, tickets will be refunded by the prescribed methods during the prescribed period of time.
        <% } else { %>
        *Once tickets are purchased, they cannot be changed, canceled or refunded under any circumstance, including delayed arrival due to traffic congestion. If the event is canceled due to any unforeseen causes, tickets will be refunded by the prescribed methods during the prescribed period of time.
        <% } %>
    </p>


    <hr>


    <strong style="font-size:14px;">CHEVRE_EVENT_NAME  CHEVRE 2016</strong>
    <p style="font-size:14px;">
        本メールアドレスは送信専用です。返信はできませんのであらかじめご了承ください。<br>
        本メールに心当たりのない方やチケットに関してご不明な点は、下記電話番号までお問い合わせください。<br>
        チケットのお問合せ：050-3786-0368　/12:00～18:00（休業：土/日/祝日　CHEVRE_EVENT_NAME開催期間中は無休）<br>
        オフィシャルサイト： <a href="<%= conf.get('official_website_url') %>" target="_blank" style="color:#000;"><%= conf.get('official_website_url') %></a>
    </p>
    <p style="font-size:10px;">
        This email was sent from a send-only address. Please do not reply to this message.<br>
        If you are not the intended recipient of this email or have any questions about tickets, Please contact us at the telephone number below.
        For inquiries about tickets: 050-3786-0368/12:00 p.m. to 6:00 p.m. (Closed on Saturdays, Sundays, and national holidays, except during CHEVRE)
        Official website: <a href="<%= conf.get('official_website_url') %>" target="_blank" style="color:#000;"><%= conf.get('official_website_url') %></a>
    </p>
</div>




</body>
</html>